%h3#entry_title=@entry.title
#entry_id.invisible=@entry.id

.field
  .label=Entry.human_attribute_name :kind
  .value#entry_kind=@entry.kind_humanize
.field
  .label=Entry.human_attribute_name :description
  .value#entry_description=@entry.description ? @entry.description : '(Sem descrição)'
.field
  .label=Entry.human_attribute_name :value
  .value#entry_value=number_to_currency @entry.value
.field
  .label=Entry.human_attribute_name :bill_on
  .value#entry_bill_on=@entry.bill_on ? l(@entry.bill_on) : '(Data não definida)'
.field
  .label=Entry.human_attribute_name :auto_debit
  .value#entry_auto_debit=t @entry.auto_debit.to_s
.field
  .label=Entry.human_attribute_name :status
  .value#entry_status
    =image_tag("icons/#{@entry.status}.png")
    =EntryStatus.t @entry.status
.field
  .label=Entry.human_attribute_name :created_at
  .value=l @entry.created_at
.field
  .label=Entry.human_attribute_name :updated_at
  .value=l @entry.updated_at
