-if @entries.present?
  %table.table#entries_table
    %thead
      %tr
        %th.short=t 'activerecord.attributes.entry.bill_on'
        %th=t 'activerecord.attributes.entry.title'
        %th.short -
        %th.short +
        %th.short=t 'activerecord.attributes.entry.status'
        %th.last=t 'activerecord.attributes.entry.description'
    %tbody
      -@entries.each do |entry|
        %tr{:class => cycle('odd', 'even'), :id => "entry_#{entry.id}"}
          %td#td_entry_bill_on.short=entry.bill_on ? l(entry.bill_on) : '-'
          %td#td_entry_title=entry.title
          %td#td_entry_debit.short=entry.debit? ? number_to_currency(entry.value) : ''
          %td#td_entry_credit.short=entry.credit? ? number_to_currency(entry.value) : ''
          %td#td_entry_status.short
            =image_tag("icons/#{entry.status}.png")
            %br
            =EntryStatus.t entry.status
          %td#td_entry_description=truncate entry.description, :length => 60
