.block
  %h3 Ações
  %ul.navigation
    %li=link_to 'Cadastrar nova conta', '#new_entry_form', :rel => 'facebox'
.block.notice
  %h3 Detalhes
  .content
    %p Clique nos items ao lado para ver mais detalhes.
.block
  #entry_details
