.block.notice
  %h3 Gerenciamento de grupos
  .content
    %p Utilize esta página para incluir, editar ou excluir grupos.
.block
  %h3 Ações
  %ul.navigation
    %li=link_to 'Ver todos os grupos', groups_path
    %li=link_to 'Cadastrar novo grupo', new_group_path
