-content_for :block_title, "Editar grupo '#{@group.name}'"
-content_for :sidebar do
  =render 'sidebar', :links => { 'Incluir ou remover usuários deste grupo' => @group,
    'Períodos cadastrados' => time_frames_group_path }

=render 'form', group: @group
