.block.notice
  %h3 Gerenciamento de usuários
  .content
    %p Utilize esta página para incluir, editar ou excluir usuários.
.block
  %h3 Ações
  %ul.navigation
    %li=link_to 'Ver todos os usuários', users_path
    %li=link_to 'Cadastrar novo usuário', new_user_path
