.block.notice
  %h3 Gerenciamento de usuários
  .content
    %p Utilize esta tela para incluir, editar ou excluir usuários.
.block
  %h3 Ações
  %ul.navigation
    %li
      %a{:href => "#"} Cadastrar novo usuário
