-content_for :block_title, 'Usuários'
-content_for :sidebar, render(:partial => 'sidebar')

%table.table
  %tr
    %th.first ID
    %th=t 'activerecord.attributes.user.name'
    %th=t 'activerecord.attributes.user.email'
    %th=t 'web-app-theme.created_at'
    %th=t 'activerecord.attributes.user.admin'
    %th=t 'activerecord.attributes.user.active'
    %th.last &nbsp;
  -@users.each do |user|
    %tr{:class => cycle('odd', 'even')}
      %td=user.id
      %td=user.name
      %td=user.email
      %td=l user.created_at
      %td=t user.admin.to_s
      %td=t user.active.to_s
      %td.last=link_to t('web-app-theme.edit'), edit_user_path(user)

.actions-bar.wat-cf
  .actions
