-content_for :block_title, 'Bem-vindo!'
-content_for :sidebar, render(:partial => 'sidebar')

.inner
  %ul.list
    -if @groups.present?
      -@groups.each do |group|
        %li
          .left=image_tag 'icons/invoice.png'
          .item
            %h3=link_to group.name, group
            -if group.time_frames.present?
              %ul
                -group.last_5_time_frames.each do |time_frame|
                  %li=link_to "#{time_frame.period}#{group.current_time_frame == time_frame ? ' (atual)' : ''}", time_frame
            -else
              %p
                %em Este grupo não possúi nenhum período.

            =link_to '→ Ver todos os períodos cadastrados', time_frames_group_path(group)
    -else
      %p
        %em Você ainda não criou nenhum grupo.
        %br
        %strong
          =link_to 'Crie' , new_group_path
        um agora!
