!!!
%html
  %head
    %title Financial Control
    =stylesheet_link_tag    'application'
    =javascript_include_tag 'application'
    =csrf_meta_tags
  %body
    #container
      #header
        %h1=link_to 'Financial Control', root_path
        #main-navigation
          =render :partial => 'layouts/menu'
        -if current_user
          #user-navigation
            %ul.wat-cf
              %li="#{current_user.name} (#{link_to 'Sair', destroy_user_session_path})".html_safe
        #wrapper.wat-cf
          #main
            .block
              .secondary-navigation
                =yield :secondary_navigation
              .content
                %h2.title
                  =yield :block_title
                .inner
                  .flash
                    -flash.each do |type, message|
                      %div{:class => "message #{type}"}
                        %p=message
                  =yield

          #sidebar
            =yield :sidebar

        #footer
          #block
            %p Copyright &copy; #{Date.today.year} Financial Control
