!!!
%html(lang='pt-BR')
  %head
    %meta(charset='utf-8')
    %title Financial Control
    =stylesheet_link_tag 'application', :media => 'all'
    =javascript_include_tag 'application'
    =favicon_link_tag
    =yield :header
    =csrf_meta_tags
  %body
    #container
      #header
        #loading
          =image_tag 'icons/ajax-loader.gif'
          Carregando...
        %h1#logo=link_to 'Financial Control', root_path
        #main-navigation
          =render :partial => 'layouts/menu'
        -if current_user
          #user-navigation
            %ul.wat-cf
              %li="<strong>#{current_user.name}</strong> (#{link_to 'Sair', destroy_user_session_path})".html_safe
        #wrapper.wat-cf
          #main
            .block
              .secondary-navigation
                =yield :secondary_navigation
              .content
                %h2.title
                  =yield :block_title
                .inner
                  .flash
                    -flash.each do |type, message|
                      %div{:class => "message #{type}"}
                        %p=message
                  =yield

          #sidebar
            =yield :sidebar

        #footer
          #block
            %p="Copyright (c) #{Date.today.year} Lucas Catón"
